%p#notice= notice

%p
  %b First name:
  = @author.first_name
%p
  %b Last name:
  = @author.last_name
%p
  %b Image:
  = image_tag @author.image.url(:small)

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
