.panel
  .panel-body
    = simple_form_for @post do |f|
      = f.error_notification
      .form-inputs
        = f.input :title
        = f.input :description
      .form-inputs
        = f.button :submit, :class => 'btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), posts_path, :class => 'btn btn-default'
